<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
  <title>{{ .Title }}</title>
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">-->
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css">-->

  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Lora">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<div class="s-layout">
{{ partial "sidenav" . }}

  <!-- Content -->
  <main class="s-layout__content">
    <h1>wonderhouse</h1>
    <div>{{ .Content }}</div>
  </main>
</div>
</body>
</html>
