<!-- Sidebar -->
<div class="s-layout__sidebar" id="sidebar">
    <a class="s-sidebar__trigger" href="#">
        <i class="fa fa-bars"  id="navtrigger"></i>
    </a>
    <nav class="s-sidebar__nav">
        <ul>

            {{ $thisPage := .Page }}
            {{ $pagesInNav := where .Site.AllPages "Params.menu" "!=" nil }}
            {{ range sort $pagesInNav "Params.menu" }}
            <li>
                {{ if eq .Page.RelPermalink $thisPage.RelPermalink }}
                <a class="s-sidebar__nav-link selected" href="{{ .RelPermalink }}">
                    <em><strong>{{ upper .Title }}</strong></em>
                </a>
                {{ else }}
                <a class="s-sidebar__nav-link" href="{{ .RelPermalink }}">
                    <em>{{ upper .Title }}</em>
                </a>
                {{ end }}
            </li>
            {{ end }}
        </ul>
        <div class="contact">
            <a href="https://www.instagram.com/wonderhouseinteriors/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="mailto:hello@wonderhouse.com.au">
                <i class="fa-regular fa-envelope"></i>
            </a>
            <a href="tel:+61427540611">
                <i class="fa-solid fa-phone"></i>
            </a>
        </div>
    </nav>

</div>