

{{ $baseURL := .Site.BaseURL }}
<div class="gallery caption-position-{{ with .Get "caption-position" | default "bottom" }}{{.}}{{end}} caption-effect-{{ with .Get "caption-effect" | default "slide" }}{{.}}{{end}} hover-effect-{{ with .Get "hover-effect" | default "zoom" }}{{.}}{{end}} {{ if ne (.Get "hover-transition") "none" }}hover-transition{{end}}" itemscope itemtype="http://schema.org/ImageGallery">
	{{- with (.Get "dir") -}}
		<!-- If a directory was specified, generate figures for all of the images in the directory -->
		{{- $files := readDir (print "assets/" .) }}
		{{- range $files -}}
			{{ $res := resources.Get (printf "%s/%s" ($.Get "dir") .Name) }}
			{{- $isdouble := .Name | findRE `^[^\.]+\.[^\.]+\.` | len | ne 0 }}<!-- is the current file a thumbnail image? -->
			{{- $caption :=  .Name | replaceRE "\\..*" "" | humanize }}<!-- humanized filename without extension -->
			{{- $thumbRes := $res.Resize "1024x" }}

	<div class="box {{ if $isdouble }}double{{ else }}single{{ end }}">
		<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
<!--			      <figcaption>-->
<!--		          <p>{{ $caption }}</p>-->
<!--			      </figcaption>-->
			<a href="{{ $res.RelPermalink }}" itemprop="contentUrl">
				<div class="img {{ if $isdouble }}double{{ else }}single{{ end }}" >
					<img itemprop="thumbnail" src="{{ $thumbRes.RelPermalink }}" alt="{{ $caption }}"/><!-- <img> hidden if in .gallery -->
				</div>
			</a><!-- put <a> last so it is stacked on top -->
		</figure>
	</div>

		{{- end }}
	{{- end }}
</div>
